@import url("../../var.css");
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.card h4 {
  color: var(--head-color);
  text-align: center;
  min-height: 50px;
  max-height: 100px;
  font-size: 1.2rem;
}
.card p {
  color: var(--head-color);
  text-align: center;
  font-size: 0.8rem;
  height: 100px;
}
.card:hover {
  border-radius: 10px;
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 1rem;
  border: 1px solid var(--btn-red);
}

.card p,
.card h4 {
  background-color: transparent;
}
