.logo{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #e83a4b;
  }
  .logo img{
    width: 40%;
  }

  .logo p{
    font-family: "Lobster";
    font-size: 20px;
  }