@import url("../../var.css");
.burger_input {
  display: none;
}
@media screen and (max-width: 390px) {
  .burger_input {
    position: relative;
    display: flex;
  }

  .burger_menu {
    position: relative;
    background-color: var(--light-body-color);
  }

  .burger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .burger_nav {
    top: 50px;
    left: 0;
    width: 100%;
    background-color: var(--light-body-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 100;
  }

  .burger_nav nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .burger_nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }

  .burger_nav a:hover {
    color: gray;
  }
}
